body {
  font-family: sans-serif;
  background-color: #0f62fe;
}

.container {
  width: 48%;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 8px;
  margin-inline: auto;
  margin-top: 10vh;
}

#head-text {
  color: #0f62fe;
  margin-top: 0;
}

#input-block {
  height: 45px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 16px;
}

#input-block input {
  font-family: inherit;
  padding-inline: 12px;
  border: 2px solid #33b1ff;
  border-radius: 3px;
}

#input-block input:focus {
  outline: none;
  border-color: #0d75ec;
}

#add-task {
  font-family: inherit;
  color: #ffffff;
  background-color: #0f62fe;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#task-list {
  max-height: 300px;
  padding: 32px;
  border-top: 1px solid #ababab;
  margin-inline: -32px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
}

.task-item {
  padding-inline: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.task-item .content {
  display: flex;
  gap: 8px;
}

.task-item .delete {
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  align-self: center;
}

.task-item p.checked {
  text-decoration: line-through;
}
